/* Basscss Align */

.align-baseline { vertical-align: baseline }
.align-top      { vertical-align: top }
.align-middle   { vertical-align: middle }
.align-bottom   { vertical-align: bottom }

.list-reset {
    list-style: none;
    padding-left: 0;
}
.inline-block {
    display: inline-block;
}

