<div class="teamMember">
    {% if team.url %}
    {% if team.image %}
    <a class="teamMember arrowLink" href="{{team.url}}">
       <img src="{{team.image}}" class="author-img">
    {% endif %}
        <h3 class="ink3"> {{team.name}}</h3>
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 4.7a.667.667 0 00-.667-.667L6 4a.667.667 0 000 1.333h3.707L4.193 10.86a.667.667 0 00.217 1.093.668.668 0 00.73-.146l5.527-5.527V10A.667.667 0 0012 10V4.7z" fill="currentColor"></path></svg>
    </a>
    {% else %}

    {% if team.image %}
       <img src="{{team.image}}" class="author-img">
    {% endif %}
    <div>
       <h3 class="ink3"> {{team.name}}</p>
    </div>
    {% endif %}
 </div>
